{% extends './template.html' %}

{% block content %}
<div class="container-login bg-light">
    <div class="d-flex h-50 align-items-center justify-content-center position-relative">
        <div class="d-flex flex-column align-items-center">

            <div class="d-flex flex-column align-items-center form-login">
                <p class="m-0" style="font-size: 25pt;">Авторизация</p>
                <div class="form-error">{{form.non_field_errors}}</div>
                <form method="post">
                    {% csrf_token %}

                    {% for f in form %}
                    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button class="btn btn-primary w-100 mt-2" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}